<div class="footer-basic border border-top-secondary">
  <footer>
      <div class="social"><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-snapchat-ghost"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-facebook-f"></i></a></div>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Inicio</a></li>
          <li class="list-inline-item"><a href="#">Descargas</a></li>
          <li class="list-inline-item"><a href="#">Contacto</a></li>
          <li class="list-inline-item"><a href="#">Utilidades</a></li>
          <li class="list-inline-item"><a href="#">Ayuda</a></li>
      </ul>
      <p class="copyright">Lion-Play © 2018 - Diseñado y Desarrollado por <a href="#">Edycar Reyes</a></p>
  </footer>
</div>